body {
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://cdn.pixabay.com/photo/2019/11/23/22/43/mars-4648224_1280.jpg);
  height: 450px;
  width: auto;
  color: aliceblue;
}

main {
  display: flex;
  margin: 10px 0 0 0;
  padding: 10px 0 10px 0;
  padding: auto;
  height:324px;
  width: auto;
  flex-direction: row;
  justify-content: space-around;
  background: #B79891;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #94716B, #B79891);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #94716B, #B79891); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


h3 {
  flex-direction: column;
  color: whitesmoke;
  font-size: 30px;
  font-weight: 800;
  margin-block-end: 0.6em;
}

p {
  color: #020202;
  font-weight: 200;
  font-size: 20px;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}
